<!-- SELECCIÓN MENÚ PRINCIPAL -->
<mat-card class="card-oas" *ngIf="!pendienteCheck">
  <mat-card-header>
    <mat-card-title>Formulación de Planes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formSelect">
      <u class="textGuide">
        En esta sección usted podrá FORMULAR los planes creados en el módulo construcción, para continuar seleccione las
        opciones que se encuentran enseguida
      </u>
      <!-- <mat-card>
      <p>lo que sea</p>
      <mat-divider inset></mat-divider>
      </mat-card> -->
      <ng-container>
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Seleccione la Unidad</mat-label>
          <mat-select (selectionChange)="onChangeU($event.value)" formControlName="selectUnidad">
            <input (keyup)="onKey($event)" class="input-search"
              placeholder="Escriba el nombre de la unidad que desea seleccionar">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let unidad of auxUnidades" [value]="unidad">
              {{unidad.Nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="unidadSelected">
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Seleccione la Vigencia</mat-label>
          <mat-select (selectionChange)="onChangeV($event.value)" formControlName="selectVigencia">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
              {{vigencia.Nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="vigenciaSelected">
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Seleccione el Plan</mat-label>
          <mat-select (selectionChange)="onChangeP($event.value)" formControlName="selectPlan">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let plan of planes" [value]="plan">
              {{plan.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="clonar && moduloVisible" style="text-align: center;">
    <mat-card-content>
      <u class="textGuide">
        Seleccione el siguiente botón para iniciar con la formulación
      </u>
    </mat-card-content>
    <ng-container>
      <button mat-raised-button color="primary" (click)="formularPlan()">
        Formular plan
      </button>
    </ng-container>
    <br><br>
  </mat-card-footer>
</mat-card>

<br><br>
<!-- TABLA RESUMEN -->
<ng-container *ngIf="rol == 'PLANEACION' && !planAsignado">
  <app-tabla-resumen (mostrarPlan)="cargarPlan($event)"></app-tabla-resumen>
</ng-container>
<!-- FORMULACIÓN -->
<mat-card class="card-oas" *ngIf="!clonar && planAsignado && moduloVisible">
  <mat-card-header>
    <mat-card-title *ngIf="plan != undefined">Formulación {{plan.nombre}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <u class="textGuide">
      A continuación usted deberá diligenciar la información necesaria para realizar una completa formulación de su PLAN
      DE ACCIÓN
    </u>
    <ng-container>
      <div class="container">
        <div class="flex">
          <div class="sameRow" style="vertical-align: middle;" [style.width.%]="60">Estado del plan: {{estadoPlan}}
            <br>
            <mat-icon class="icon-estado">{{iconEstado}}</mat-icon>
          </div>
          <div class="sameRow" [style.width.%]="80">
            <mat-form-field appearance="fill" [style.width.%]="80">
              <mat-label id="tipo-input-label">Versiones</mat-label>
              <mat-select (selectionChange)="onChangeVersion($event.value)" [formControl]="controlVersion">
                <mat-option *ngFor="let version of versiones" [value]="version">
                  Versión {{version.numero}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- TABLA ESTÁTICA -->
    <ng-container *ngIf="plan != undefined && dataT">
      <mat-card class="notice">
        <p>Señor usuario, la siguiente tabla expone un resumen de las actividades relacionadas al {{plan.nombre}}, el
          cual se encuentra formulando.</p>
      </mat-card>
      <div class="flex">
        <mat-form-field appearance="fill" [style.width.%]="50">
          <mat-label>Búsqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Actividad" #input>
        </mat-form-field>
        <mat-slide-toggle class="toggle" [(ngModel)]="isChecked" (change)="filterActive()">Ver inactivos</mat-slide-toggle>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="index" class="td-align-left">
          <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'"> Número </th>
          <td mat-cell *matCellDef="let element" class="td-align-left"> {{element.index}} </td>
        </ng-container>
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element" class="td-align-left"> {{element.activo}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="header-align-right"> Acciones </th>
          <td mat-cell *matCellDef="let row" class="td-align-right">
            <button mat-icon-button (click)="editar(row)">
              <mat-icon>{{iconEditar}}</mat-icon>
            </button>
            <button mat-icon-button (click)="inhabilitar(row)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay.concat(['activo','index','actions'])"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay.concat(['activo','index','actions']);"></tr> -->
        <tr mat-header-row *matHeaderRowDef="['index'].concat(columnsToDisplay.concat(['activo','actions']))"></tr>
        <tr mat-row *matRowDef="let row; columns: ['index'].concat(columnsToDisplay.concat(['activo','actions']));">
        </tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se han encontrado resultados para la búsqueda "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </ng-container>

    <div *ngIf="!dataT" style="text-align: center;">
      No hay actividades registradas. Por favor Agregue una Actividad.
    </div>

    <br><br>
    <!-- ARMONIZACIÓN -->
    <mat-card class="card-oas-int" *ngIf="!clonar && planAsignado && addActividad">
      <mat-card-header>
        <mat-card-title *ngIf="plan != undefined">ACTIVIDADES DEL PLAN DE ACCIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <u class="textGuide">
          A continuación usted encontrará las herramientas necesarias para agregar las actividades del PLAN DE ACCIÓN
          correspondiente
        </u>
      </mat-card-content>
      <mat-card-header [style.margin-top.%]="2">
        <mat-card-title *ngIf="plan != undefined">Armonización {{plan.nombre}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formArmonizacion">
          <!-- ARMONIZACION PLAN ESTRETEGICO DE DESARROLLO -->
          <ng-container>
            <u class="textGuide">
              Armonización para el Plan Estratégico de Desarrollo
            </u>
            <mat-form-field class="select-armo" appearance="fill" [style.width.%]="100">
              <mat-label id="tipo-input-label">Seleccione el plan de desarrollo</mat-label>
              <mat-select formControlName="selectPED" (selectionChange)="onChangePD($event.value)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let planD of planesDesarrollo" [value]="planD">
                  {{planD.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-arbol *ngIf="tipoPlanId !== undefined && tipoPlanId != ''" [tipoPlanId]="tipoPlanId" [idPlan]="idPadre"
              [dataArmonizacion]="dataArmonizacionPED" [consulta]="false" [armonizacionPED]="true" [estado]="estadoPlan"
              [armonizacionPI]="false" (grupo)="receiveMessage($event)"></app-arbol>
          </ng-container>
          <!-- ARMONIZACION PLAN INDICATIVO -->
          <ng-container>
            <u class="textGuide" [style.margin-top.%]="2">
              Armonización para el Plan Indicativo
            </u>
            <mat-form-field class="select-armo" appearance="fill" [style.width.%]="100">
              <mat-label id="tipo-input-label">Seleccione el plan indicativo</mat-label>
              <mat-select formControlName="selectPI" (selectionChange)="onChangePI($event.value)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let planI of planesIndicativos" [value]="planI">
                  {{planI.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-arbol *ngIf="tipoPlanIndicativo !== undefined && tipoPlanIndicativo !== ''"
              [tipoPlanId]="tipoPlanIndicativo" [idPlan]="idPlanIndicativo" [dataArmonizacion]="dataArmonizacionPI"
              [consulta]="false" [armonizacionPED]="false" [armonizacionPI]="true" [estado]="estadoPlan" (grupo)="receiveMessagePI($event)"
              ></app-arbol>
          </ng-container>
        </form>
      </mat-card-content>
    </mat-card>

    <br><br>
    <mat-card class="card-oas-int" *ngIf="addActividad">
      <!-- FORMULARIO -->
      <mat-card-content>
        <form [formGroup]="form">
          <mat-vertical-stepper>
            <mat-step *ngFor="let step of steps; let index = index; let last = last;">
              <ng-template matStepLabel>{{step.nombre}}</ng-template>
              <!-- PRIMER NIVEL -->
              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'input'">
                <mat-label>Digite la información:</mat-label>
                <textarea matInput formControlName="{{step.id}}" placeholder="Escriba la información deseada"
                  required="{{step.required}}" readonly="{{readOnlyAll}}"></textarea>
                <mat-icon matSuffix>create</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'numeric'">
                <mat-label>Ingrese el valor:</mat-label>
                <input type="number" matInput formControlName="{{step.id}}" placeholder="Ingrese el valor numérico"
                  required="{{step.required}}" readonly="{{readOnlyAll}}" step="0.01" value="0.00" pattern="^\d*(\.\d{0,2})?$">
                <mat-icon matSuffix>create</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="step.type == 'select'">
                <mat-select formControlName="{{step.id}}"
                  required="{{step.required}}" [disabled]="readOnlyAll">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let opt of step.options" [value]="opt.valor">
                    {{opt.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                *ngIf="step.type == 'button'">Foo</button>
              <!-- OBSERVACIÓN -->
              <ng-container *ngIf="!hiddenObs">
                <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.sub == null || step.sub == []">
                  <mat-label>Campo de observación:</mat-label>
                  <textarea matInput formControlName="{{step.id+'_o'}}" placeholder="Escriba la observación"
                    required="false" readonly="{{readonlyObs}}"></textarea>
                  <mat-icon matSuffix>create</mat-icon>
                </mat-form-field>
              </ng-container>
              <!-- SEGUNDO NIVEL -->
              <mat-accordion cdkDropList>
                <mat-expansion-panel *ngFor="let subs of step.sub" cdkDrag (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{subs.nombre}}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <!-- TERCER NIVEL -->
                  <ng-container *ngIf="subs.sub">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let subpanel of subs.sub" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>{{subpanel.nombre}}</mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'input'">
                          <mat-label>Digite la información:</mat-label>
                          <textarea matInput formControlName="{{subpanel.id}}"
                            placeholder="Escriba la información deseada" required="{{subpanel.required}}"
                            readonly="{{readOnlyAll}}"></textarea>
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'numeric'">
                          <mat-label>Ingrese el valor:</mat-label>
                          <input type="number" matInput formControlName="{{subpanel.id}}"
                            placeholder="Ingrese el valor numérico" required="{{subpanel.required}}"
                            readonly="{{readOnlyAll}}">
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subpanel.type == 'select'">
                          <mat-select formControlName="{{subpanel.id}}"
                            required="{{subpanel.required}}" [disabled]="readOnlyAll">
                            <mat-option value="">--</mat-option>
                            <mat-option *ngFor="let opt of subpanel.options" [value]="opt.valor">
                              {{opt.valor}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                          *ngIf="subpanel.type == 'button'">Foo</button>
                        <!-- OBSERVACIÓN -->
                        <ng-container *ngIf="!hiddenObs">
                          <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.sub == null || subpanel.sub == [] ">
                            <mat-label>Campo de observación:</mat-label>
                            <textarea matInput formControlName="{{subpanel.id+'_o'}}"
                              placeholder="Escriba la observación" required="false"
                              readonly="{{readonlyObs}}"></textarea>
                            <mat-icon matSuffix>create</mat-icon>
                          </mat-form-field>
                        </ng-container>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </ng-container>
                  <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'input'">
                    <mat-label>Digite la información:</mat-label>
                    <textarea matInput formControlName="{{subs.id}}" placeholder="Escriba la información deseada"
                      required="{{subs.required}}" readonly="{{readOnlyAll}}"></textarea>
                    <mat-icon matSuffix>create</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'numeric'">
                    <mat-label>Ingrese el valor:</mat-label>
                    <input type="number" matInput formControlName="{{subs.id}}" placeholder="Ingrese el valor numérico"
                      required="{{subs.required}}" readonly="{{readOnlyAll}}">
                    <mat-icon matSuffix>create</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subs.type == 'select'">
                    <mat-select formControlName="{{subs.id}}"
                      required="{{subs.required}}" [disabled]="readOnlyAll">
                      <mat-option value="">--</mat-option>
                      <mat-option *ngFor="let opt of subs.options" [value]="opt.valor">
                        {{opt.valor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                    *ngIf="subs.type == 'button'">Foo</button>
                  <!-- OBSERVACIÓN -->
                  <ng-container *ngIf="!hiddenObs">
                    <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.sub == null || subs.sub == []">
                      <mat-label>Campo de observación:</mat-label>
                      <textarea matInput formControlName="{{subs.id+'_o'}}" placeholder="Escriba la observación"
                        required="false" readonly="{{readonlyObs}}"></textarea>
                      <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                  </ng-container>
                </mat-expansion-panel>
              </mat-accordion>
              <br><br>
              <u class="textGuide" *ngIf="last && form.valid" style="text-align: center;">
                Para guardar los cambios realizados de clic en el botón guardar, de lo contrario de clic en cancelar
              </u>
              <div class="btn-formato">
                <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                  *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Volver</button>
                <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                  *ngIf="!last" matStepperNext (click)="nextStep(index)">Siguiente</button>
                <br><br>
                <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                  (click)="ocultar()">Cancelar</button>
                <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                  *ngIf="last" [disabled]="!form.valid" (click)="submit()">Guardar</button>
                <!-- <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Atrás</button>
              <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!formStep.at(index).valid" (click)="nextStep(index)">Siguiente</button>
              <button *ngIf="last" class="btn btn-primary" [disabled]="!formStep.valid" type="submit">Guardar</button> -->
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </form>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card-content *ngIf="rol == 'JEFE_DEPENDENCIA' || rol == 'ASISTENTE_DEPENDENCIA'">
      <u class="textGuide" *ngIf="plan.estado_plan_id == '614d3ad301c7a200482fabfd'">
        Dando clic al botón "Culminar plan" usted da por culminada esta etapa y se enviara la información para revisión
        por la oficina de planeación, y no podrá realizar modificaciones hasta que sea retornado con observaciones
      </u>
    </mat-card-content>
    <mat-card-content *ngIf="rol == 'JEFE_DEPENDENCIA' || rol == 'ASISTENTE_DEPENDENCIA'">
      <u class="textGuide"
        *ngIf="plan.estado_plan_id === '614d3b1e01c7a265372fac03' || plan.estado_plan_id === '615335c501c7a213a12fb2a3'">
        Para iniciar el ajuste del plan por favor seleccione el botón REALIZAR AJUSTE, ubicado en la parte inferior de
        esta sección
      </u>
    </mat-card-content>
  </mat-card-content>

  <!-- AGREGAR ACTIVIDAD / IDENTIFICACIÓN / CULMINAR PLAN -->
  <mat-card-footer style="text-align: center;">
    <ng-container>
      <button mat-raised-button color="primary" (click)="agregarActividad()" [disabled]="addActividad || estadoPlan != 'En formulación'"
        *ngIf="rol == 'JEFE_DEPENDENCIA' || rol == 'ASISTENTE_DEPENDENCIA'">
        Agregar actividad
      </button>
      <button mat-raised-button color="primary" (click)="identificarContratistas()" [disabled]="!dataT">
        Identificación de Contratistas
      </button>
      <button mat-raised-button color="primary" (click)="identificarRecursos()" [disabled]="!dataT">
        Identificación de Recursos
      </button>
      <button *ngIf="banderaIdentDocentes" mat-raised-button color="primary" (click)="identificarDocentes()"
        [disabled]="!dataT">
        Identificación de Recurso Docente
      </button>
      <ng-container *ngIf="banderaUltimaVersion">
        <ng-container *ngIf="rol == 'JEFE_DEPENDENCIA' || rol == 'ASISTENTE_DEPENDENCIA'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id == '614d3ad301c7a200482fabfd'" mat-raised-button
            color="primary" (click)="culminarPlan()" [disabled]="!dataT">
            Culminar plan
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'PLANEACION' || rol == 'JEFE_UNIDAD_PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '614d3aeb01c7a245952fabff'" mat-raised-button
            color="primary" (click)="iniciarRevision()" [disabled]="!dataT">
            Iniciar Revisión
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'PLANEACION' || rol == 'JEFE_UNIDAD_PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '614d3b0301c7a2a44e2fac01'" mat-raised-button
            color="primary" (click)="enviarRevision()" [disabled]="!dataT">
            Enviar Revisión
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'JEFE_UNIDAD_PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '614d3b1e01c7a265372fac03'" mat-raised-button
            color="primary" (click)="verificarRevision()" [disabled]="!dataT"> <!--AGREGAR ID-->
            Verificar Revisión
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'JEFE_DEPENDENCIA' || rol == 'ASISTENTE_DEPENDENCIA'">
          <button class="btn-formulacion"
            *ngIf="plan.estado_plan_id === '614d3b1e01c7a265372fac03' || plan.estado_plan_id === '615335c501c7a213a12fb2a3'"
            mat-raised-button color="primary" (click)="realizarAjustes()" [disabled]="!dataT">
            Realizar Ajustes
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '65bbf86918f02a27a456d20f'" mat-raised-button
            color="primary" (click)="preAval()" [disabled]="!dataT">
            Dar Pre-Aval
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '614d3b4401c7a222052fac05'" mat-raised-button
            color="primary" (click)="realizarAjustes()" [disabled]="!dataT">
            Remitir Ajuste Plan de Acción
          </button>
        </ng-container>
        <ng-container *ngIf="rol == 'PLANEACION' || rol == 'JEFE_UNIDAD_PLANEACION'">
          <button class="btn-formulacion" *ngIf="plan.estado_plan_id === '614d3b4401c7a222052fac05'" mat-raised-button
            color="primary" (click)="avalar()" [disabled]="!dataT">
            Dar Aval
          </button>
        </ng-container>
      </ng-container>

    </ng-container>
    <br><br>
  </mat-card-footer>
</mat-card>

<!-- DIRECTIVAS IDENTIFICACIÓN RECURSOS Y CONTRATISTAS -->
<br><br>
<ng-container class="card-oas" *ngIf="!clonar && planAsignado && identContratistas">
  <app-contratistas [dataSourceActividades]="dataSource" [dataTabla]="identContratistas" [plan]="plan._id" [rol]="rol"
    [versiones]="versiones" [vigencia]="vigencia" (acciones)="messageIdentificacion($event)">
  </app-contratistas>
</ng-container>
<br><br>
<ng-container class="card-oas" *ngIf="!clonar && planAsignado && identRecursos">
  <app-recursos [dataSourceActividades]="dataSource" [dataTabla]="identRecursos" [plan]="plan._id" [rol]="rol"
    [versiones]="versiones" (acciones)="messageIdentificacion($event)">
  </app-recursos>
</ng-container>
<ng-container class="card-oas" *ngIf="!clonar && planAsignado && identDocentes">
<!--Se quito [dataSourceActividades]="dataSource"-->
<app-docentes [dataTabla]="identDocentes" [plan]="plan._id" [rol]="rol" [vigencia]="vigencia"
[versiones]="versiones" (acciones)="messageIdentificacion($event)">
  </app-docentes>
</ng-container>
